[Desktop Entry]
Name=Regional Settings
Name[br]=Dibarzhoù lec'hel
Name[cs]=Regionální nastavení
Name[cy]=Gosodiadau Rhanbarthol
Name[da]=Regionale indstillinger
Name[de]=Regionaleeinstellungen
Name[el]=Τοπικές ρυθμίσεις
Name[es]=Ajustes regionales
Name[et]=Asukohaseadistused
Name[eu]=Eskualdeko ezarpenak
Name[fi]=Maa-asetukset
Name[fr]=Paramètres régionaux
Name[gl]=Opcións Rexionais
Name[he]=הגדרות אזוריות
Name[hu]=Helyi beállítások
Name[id]=Setting Regional
Name[is]=Svæðisbundnar stillingar
Name[it]=Impostazioni locali
Name[ja]=言語と国の設定
Name[ms]=Tetapan Wilayah
Name[nb]=Språk og land
Name[nl]=Regionale instellingen
Name[nn]=Språk og land
Name[pl]=Ustawienia regionalne
Name[pt]=Configurações Regionais
Name[pt_BR]=Configurações Regionais
Name[ro]=Parametri regionali
Name[ru]=Региональные настройки
Name[sl]=Področne nastavitve
Name[sv]=Regionala Inställningar
Name[tr]=Bölgesel Ayarlar
Name[uk]=Регіональні налаштування
Name[uz]=Foydalanuvchining mahalliy moslamalari
Name[uz@cyrillic]=Фойдаланувчининг маҳаллий мосламалари
Name[zh_CN]=区域设置
Name[zh_TW]=區域設定
Comment=Language & country configuration
Comment[br]=Kefluniadur ar yezh hag ar vro
Comment[cs]=Nastavení jazyka a země
Comment[cy]=Ffurfweddu iaith a gwlad
Comment[da]=Opsætning af sprog og land
Comment[de]=Sprach & Länder Konfiguration
Comment[el]=Ρύθμιση της γλώσσας και της χώρας
Comment[es]=Configuración del idioma y país
Comment[et]=Keele ja riigi seadistamine
Comment[eu]=Hizkuntza eta herrialde konfiguraketa
Comment[fi]=Kieli- ja maa-asetukset
Comment[fr]=Configuration de la langue et du pays
Comment[gl]=Configuración de Lingua e País
Comment[he]=הגדרת שפה ומדינה
Comment[hu]=Nyelv és ország beállítása
Comment[id]=Konfigurasi bahasa & negara
Comment[is]=Tungumál og land kerfis
Comment[it]=Configurazione di lingua e paese
Comment[ja]=言語と国の設定
Comment[ms]=Tetapan negara & bahasa
Comment[nb]=Oppsett for språk og land
Comment[nl]=Taal- & landconfiguratie
Comment[nn]=Oppsett av språk og land
Comment[pl]=Konfiguracja języka i kraju
Comment[pt]=Configuração da língua e país
Comment[pt_BR]=Configuração de Idioma e País
Comment[ro]=Configurare limbă & țară
Comment[ru]=Настройка языковых и региональных параметров
Comment[sl]=Nastavitev jezika in države
Comment[sv]=Språk & landsinställningar
Comment[tr]=Dil ve Ülke yapılandırması
Comment[uk]=Налаштування мови і країни
Comment[uz]=Joriy foydalanuvchi uchun til va davlatni moslash
Comment[uz@cyrillic]=Жорий фойдаланувчи учун тил ва давлатни мослаш
Comment[zh_CN]=语言和国家配置
Comment[zh_TW]=語言與國家設定
GenericName=Regional Settings
GenericName[br]=Dibarzhoù lec'hel
GenericName[cs]=Regionální nastavení
GenericName[cy]=Gosodiadau Rhanbarthol
GenericName[da]=Regionale indstillinger
GenericName[de]=Regionaleeinstellungen
GenericName[el]=Τοπικές ρυθμίσεις
GenericName[es]=Ajustes regionales
GenericName[et]=Asukohaseadistused
GenericName[eu]=Eskualdeko ezarpenak
GenericName[fi]=Maa-asetukset
GenericName[fr]=Paramètres régionaux
GenericName[gl]=Opcións Rexionais
GenericName[he]=הגדרות אזוריות
GenericName[hu]=Helyi beállítások
GenericName[id]=Setting Regional
GenericName[is]=Svæðisbundnar stillingar
GenericName[it]=Impostazioni locali
GenericName[ja]=言語と国の設定
GenericName[ms]=Tetapan Wilayah
GenericName[nb]=Språk og land
GenericName[nl]=Regionale instellingen
GenericName[nn]=Språk og land
GenericName[pl]=Ustawienia regionalne
GenericName[pt]=Configurações Regionais
GenericName[pt_BR]=Configurações Regionais
GenericName[ro]=Parametri regionali
GenericName[ru]=Региональные настройки
GenericName[sl]=Področne nastavitve
GenericName[sv]=Regionala Inställningar
GenericName[tr]=Bölgesel Ayarlar
GenericName[uk]=Регіональні налаштування
GenericName[uz]=Foydalanuvchining mahalliy moslamalari
GenericName[uz@cyrillic]=Фойдаланувчининг маҳаллий мосламалари
GenericName[zh_CN]=区域设置
GenericName[zh_TW]=區域設定
Exec=/usr/bin/localedrake
Icon=localedrake
Type=Application
StartupNotify=false
Categories=GTK;X-MandrivaLinux-CrossDesktop;Settings;
