[Desktop Entry]
Type=Service
Icon=drlogo
Actions=Analyze
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked
X-KDE-Priority=TopLevel
X-KDE-Submenu=DR14 T.meter

[Desktop Action Analyze]
Exec=xterm -hold -geometry 100x30+300+300 -T Computing... -e dr14_tmeter -m -n -b -p -r
Icon=drlogo
Name=Analyze Dynamic Range
Name[cs]=Analyzovat Dynamic Range
Name[sk]=Analyzovať Dynamic Range

